html{
    background-image: linear-gradient(to bottom right,rgb(255, 231, 155) ,rgb(221, 88, 214));
    background-size: cover;
    background-repeat: no-repeat;
    font-size: larger;
    width: 100vw;
    height: 200vh;
}

.container{
    background-color: rgba(64, 18, 139,0.8);
    width: 300px;
    color: white;
    margin: 75px auto;
    padding: 1rem;
    border-radius: 1rem;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3rem;  
     
}
h2:hover{
    color: rgb(255, 231, 155);
    cursor: pointer;
}
.rows{
    display: block;  
 
}
.rows label{
    margin-left: 0.25rem;
}
.rows label:hover{
    color: rgb(255, 231, 155);
}
.rows input{
    width: 100%;
    margin-top: 0.2rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem 0.2rem;
    
}
.rows input:focus{
    background-color: rgb(255, 231, 155);
    accent-color: rgb(221, 88, 214);

}
#label1{
    margin-bottom: 0.5rem;
}
#label2{
    margin-bottom: 0.5rem;
}
#label3{
    margin-bottom: 0.5rem;
}
.btns button{
    padding: 0rem 0.8rem 0rem;
    border: none;
    transition: transform 0.2s;
}
.btns button:hover{
    transform: scale(1.3);
    color: rgb(147, 54, 180);
    cursor: pointer;
}
.btns button:focus{
    transform: scale(1.3);
    color: rgb(147, 54, 180);
    accent-color: rgb(147, 54, 180);
}
.btns .main{
    font-size: 1.2rem;
    border-radius: 0.2rem;
    margin: 0rem 0.28rem 0rem;

}
.btns #btn6{
    margin-top: 1rem;
    padding: 0.3rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2rem;
    font-size: 1.5rem;

}
.btns #btn6:hover{
    transform: scaleX(1.1);
}
.btns #btn6:focus{
    transform: scale(1.1);
}